body {
    font-family: Poppins, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;


}

.heel-pagina {
    display: flex;
}

.heel-pagina-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 0;
}



.menu-toggle {
    display: flex;
    top: 10px;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.button-image {
    height: 45px;
    width: 45px;
    background: none;
}

.button-image:hover {
    transform: scale(1.05);
}


.verticale-links {
    list-style: none;
    right: 10px;
    align-content: flex-start;
    margin: 0;

    writing-mode: vertical-lr;
    transform: rotate(180deg);

    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.social-link a:hover {
    text-decoration: none;
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
}

.follow-me {
    //color: #6A7282;
    color: gray;
}

.leestekens {
    color: #6A7282;
    font-weight: bold;
}


p {
    color: gray;
}




.hero h1 {
    color: white;
    font-size: 50px;
    margin: 0;
}

.experience h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 1px;
    text-align: left;
}

.experience h3 {
    color: #FF4A17;
}

.navbar {
    font-size: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 10px 20px;
    top: 60px;
}

.navbar.show {
    display: flex;
}

.navbar-item {
    margin: 10px 0;
}

.navbar-item a:hover {
    color: #FF4A17;
    font-weight: bold;
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




.functie, .periode{
    margin: 0;
}

.periode {
    font-size: 15px;

}

.functie-titel {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.experience-item  {
    //background-color: #2C2C2E;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 2px;

}

footer {
    //background-color: #2C2C2E;
    text-align: center;
    color: white;

}



