body {
    font-family: Poppins, sans-serif;
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    color: white;
}

.heel-pagina {
    display: flex;
}

.heel-pagina-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20rem;

}

.button-image {
    height: 45px;
    width: 45px;
    object-fit: contain;


}

.menu-toggle {
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;


}

.button-image:hover {
    background-color: #FF4A17;
    transform: scale(1.01);
}


.verticale-links {
    position: absolute;
    list-style: none;
    right: 10px;
    align-content: flex-end;
    margin: 0;

    writing-mode: vertical-lr;
    transform: rotate(180deg);

    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.social-link a:hover {
    text-decoration: none;
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
}

.follow-me {
    //color: #6A7282;
    color: gray;
}

.leestekens {
    color: #6A7282;
    font-weight: bold;
}


p {
    color: gray;
}




.hero h1 {
    color: white;
    font-size: 50px;
    margin: 0;
}

.experience h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 1px;
    text-align: left;
}

.experience h3 {
    color: #FF4A17;
}

.navbar {
    gap: 3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar-item {
    float: right;
}



.functie, .periode{
    margin: 0;
}

.periode {
    font-size: 15px;

}

.functie-titel {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.experience-item  {
    //background-color: #2C2C2E;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 2px;

}

footer {
    //background-color: #2C2C2E;
    text-align: center;
    color: white;

}



