* {
    font-family: Nunito, sans-serif;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    background: #3d2929;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}

p {
    line-height: 2em;
    color: #AAAAAA;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 1280px;
    margin: 0 auto;
}

.education, .experience, .languages, .about-me, .projects, .skills, .hero {
    padding-top: 40px;
}

.sectie-titel {
    font-size: 40px;
    color: #FBF9F6;
    text-align: center;
    padding-bottom: 10px;
}


header {
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    background: #000000;

}

#logo {
    height: 90px;
    width: 90px;
}


.nav-inner {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    right: 0;


}

.navbar {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.navbar-item {
    text-decoration: none;
    list-style: none;
    display: inline-block;


}

.navbar-item a {
    color: #996868;
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    border-radius: 17px;
    font-size: 16px;

}

.navbar-item:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}


.navbar-item a.active {
    background-color: #996868;
    color: white;
    font-weight: bold;
}

/* */
/* */
/* BEGIN HERO SECTIE */
/* */
/* */


.hero {
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;

}

#hero-image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 20px solid #3d2929;

}


/* Schaduw bij het hoveren van de hero image */
#hero-image:hover {
    box-shadow: 0 0 20px #996868;
}

.hero-titel h1{
    color: #996868;
    font-size: 56px;
    text-align: left;
}

.hero-text {
    padding-bottom: 40px;
}


.hero-informatie {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;

}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #FBF9F6;
    margin: 2px 0;
    padding: 0;
}

.hero-buttons {
    display: flex;
    gap: 0.5rem;
}


.hero-buttons p {
    font-family: Nunito, sans-serif;
    margin: 10px 10px;
}

.hero-button {
    background: none;
    border: 1pt solid #996868;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #996868;
}

/* EXPERIENCE */
/* EXPERIENCE */
/* EXPERIENCE */


h1 {
    font-size: 40px;
    color: #996868;
    text-align: left;
}

.experience-content {
    //padding-top: 140px;
}

.experience-container {
    //padding-top: 10px;

}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}


.experience-card {

    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    border: 1px solid #AAAAAA;
    border-radius: 24px;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 360px;
    width: 100%;
    margin: 20px 0 0 0;
}

.experience-card:hover {
    box-shadow: 0 10px 10px -1px #FBF9F6;
    border: 2px solid #AAAAAA;


}

.experience-card ul {
    list-style: none;
    text-align: center;
    padding: 0;
}


.experience h2, .experience-title {
    font-size: 26px;
    color: #996868;
}

.organisatie {
    color: #996868;
    font-size: 18px;
}

.periode {
    color: #AAAAAA;
    font-size: 16px;
}

.job-beschrijving {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #FBF9F6;
    padding-bottom: 20px;
}



.beschrijving-item {
    list-style: circle;
    margin-left: 35px;
    color: #AAAAAA;
    font-size: 16px;
    text-align: left;
    line-height: 2rem;
//padding-left: 10px;

}


/* Einde ervaring */

/* OPLEIDING Begint hier */

.education {
    padding: 100px 0;

}

.education-content {
    margin: 0;
    padding: 0;
//background: #FBF9F6;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    border: 1px solid #AAAAAA;
//background: #2C2C2E;
}

.education-timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 60px 0;
}

/* Horizontale lijn */
.education-timeline::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F5F5F5;
}

.opleiding-titel {
    padding: 0;
    color: #FBF9F6;
}

.opleiding-logo {
    height: 70px;
    width: 70px;
}

.opleiding-logo:hover {
    transform: scale(1.1);
}

.timeline-item {
    position: relative;
    text-align: center;
    width: 33%;
}

.huidig {
    color: #996868;
}





/* TALENKENNIS BEGINT HIER */
/* TALENKENNIS BEGINT HIER */
/* TALENKENNIS BEGINT HIER */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
}

table, th, td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #AAAAAA;
}

th {
    font-size: 18px;
}

thead {
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
//background-color: #996868;
    color: white;
}

table tbody tr:nth-child(even) {
    background: #996868;
}

table tbody tr:nth-child(odd) {
    background: #F5F5F5;
}


/* Extra hovers voor functionaliteit */
table tbody tr:nth-child(odd):hover {
    background: #D3D3D3;

}

table tbody tr:nth-child(even):hover {
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    color: #FBF9F6;

}

/* EINDE TALENKENNIS */





/*  */

/* Over mij pagina*/

/*  */

.about-pagina {
    max-width: 1260px;
    margin: 0 auto;
}


.projects-content {
    padding-top: 40px;
}

.hobbies-div {
    padding-top: 40px;
}

.hobbies-list {
    color: #AAAAAA;
}
.hobbies-list li {
    font-size: 16px;
    line-height: 2rem;
}

.project-titel {
    color: #996868;
//color: #FBF9F6;
    font-size: 26px;
    padding-top: 40px;
}

.sinum-images {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
}

#teamfoto {
    width: 500px;
    height: auto;
}

#sinum-logo {
    height: auto;
    width: 500px;
    margin-left: 40px;
}

/* */

/* Skills pagina  */

/* */

.skills {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 70vh;
}

.skills-container {
    max-width: 900px;

    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.skill-card {
    margin: 10px 0;
    border: 3px solid rgba(61, 41, 41, 1);
    padding: 30px;
    border-radius: 20px;
    background: black;
    box-shadow: 0 2px 5px rgba(61, 41, 41, 1);
    transition: box-shadow 0.2s ease, transform 0.2s ease;


}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(61, 41, 41, 1);
    border: 4px solid rgba(61, 41, 41, 1);

}

.skill-icon {
    height: 70px;
    width: 70px;
    border: none;
}




/* FOOTER  */

footer {
    display: flex;
    padding: 60px 150px 0 150px;

    justify-content: space-between; /* verspreid de elementen */
    /* links naam en klas midden tekst en rechts het knopje */
    align-items: center;
}


.button-img {
    width: 70px;
    height: 70px;
}

.button-img:hover {
    transform: scale(1.10);

}