* {
    font-family: Nunito, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #3d2929;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}

p {
    line-height: 2em;
    color: #AAAAAA;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.main-content {
    max-width: 1280px;
    margin: 0 auto;
}

.education, .experience, .languages, .about-me, .projects, .skills, .hero {
    padding-top: 40px;
}

.sectie-titel {
    font-size: 40px;
    color: #FBF9F6;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}


header {
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    background: #000000;

}

#logo {
    height: 90px;
    width: 90px;
}


.nav-inner {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    right: 0;


}

.navbar {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.navbar-item {
    text-decoration: none;
    list-style: none;
    display: inline-block;


}

.navbar-item a {
    color: #996868;
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    border-radius: 17px;
    font-size: 16px;

}

.navbar-item:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}


.navbar-item a.active {
    background-color: #996868;
    color: white;
    font-weight: bold;
}

/* */
/* */
/* BEGIN HERO SECTIE */
/* */
/* */


.hero {
    min-height: 100vh;
    padding-top: 7rem;
    display: flex;

}

#hero-image {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 20px solid #3d2929;

}


/* Schaduw bij het hoveren van de hero image */
#hero-image:hover {
    box-shadow: 0 0 20px #996868;
}

.hero-titel h1{
    color: #996868;
    font-size: 56px;
    text-align: left;
}

.hero-text {
    padding-bottom: 40px;
}


.hero-informatie {
    margin-left: 100px;
    display: flex;
    flex-direction: column;

}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #FBF9F6;
    margin: 2px 0;
    padding: 0;
}

.hero-buttons {
    display: flex;
    gap: 0.5rem;
}


.hero-buttons p {
    font-family: Nunito, sans-serif;
    margin: 10px 10px;
}

.hero-button {
    background: none;
    border: 1pt solid #996868;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #996868;
}

/* EXPERIENCE */
/* EXPERIENCE */
/* EXPERIENCE */


h1 {
    font-size: 40px;
    color: #996868;
    text-align: left;
}


.experience-container {
    padding-top: 10px;

}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}


.experience-card {

    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    border: 1px solid #AAAAAA;
    border-radius: 24px;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 360px;
    width: 100%;
    margin: 20px 0 0 0;
}

.experience-card:hover {
    box-shadow: 0 10px 10px -1px #FBF9F6;
    border: 2px solid #AAAAAA;


}

.experience-card ul {
    list-style: none;
    text-align: center;
    padding: 0;
}


.experience h2, .experience-title {
    font-size: 26px;
    color: #996868;
}

.organisatie {
    color: #996868;
    font-size: 18px;
}

.periode {
    color: #AAAAAA;
    font-size: 16px;
}

.job-beschrijving {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    color: #FBF9F6;
    padding-bottom: 20px;
}



.beschrijving-item {
    list-style: circle;
    margin-left: 35px;
    color: #AAAAAA;
    font-size: 16px;
    text-align: left;
    line-height: 2rem;
    padding-left: 10px;

}


/* Einde ervaring */

/* OPLEIDING Begint hier */

.education {
    padding-top: 100px;

}

.education-content {
    margin: 0;
    padding: 0;
    background: #FBF9F6;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    border: 1px solid #AAAAAA;
}

.education-timeline {

    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 60px 0;
}

/* Horizontale lijn */
.education-timeline::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #F5F5F5;
}

.opleiding-titel {
    padding: 0;
    color: #FBF9F6;
}

.opleiding-logo {
    height: 70px;
    width: 70px;
}

.opleiding-logo:hover {
    transform: scale(1.1);
}

.timeline-item {
    position: relative;
    text-align: center;
    width: 33%;
}

.huidig {
    color: #996868;
}





/* TALENKENNIS BEGINT HIER */
/* TALENKENNIS BEGINT HIER */
/* TALENKENNIS BEGINT HIER */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
}

table, th, td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #AAAAAA;
}

th {
    font-size: 18px;
}

thead {
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    color: white;
}

table tbody tr:nth-child(even) {
    background: #996868;
}

table tbody tr:nth-child(odd) {
    background: #F5F5F5;
}


/* Extra hovers voor functionaliteit */
table tbody tr:nth-child(odd):hover {
    background: #D3D3D3;

}

table tbody tr:nth-child(even):hover {
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    color: #FBF9F6;

}

.languages-content-mobile {
    display: none;
}



/* EINDE TALENKENNIS */





/*  */

/* Over mij pagina*/

/*  */

.about-pagina {
    max-width: 1260px;
    margin: 0 auto;
}


.projects-content {
    padding-top: 40px;
}

.hobbies-div {
    padding-top: 40px;
}

.hobbies-list {
    color: #AAAAAA;
}
.hobbies-list li {
    font-size: 16px;
    line-height: 2rem;
}

.project-titel {
    color: #996868;
    font-size: 26px;
    padding-top: 40px;
}

.sinum-images {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
}

#teamfoto {
    width: 500px;
    height: auto;
}

#sinum-logo {
    height: auto;
    width: 500px;
    margin-left: 40px;
}

/* */

/* Skills pagina  */

/* */

.skills {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 70vh;
}

.skills-container {
    max-width: 900px;

    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;

}

.skill-card {
    margin: 10px 0;
    border: 3px solid rgba(61, 41, 41, 1);
    padding: 30px;
    border-radius: 20px;
    background: black;
    box-shadow: 0 2px 5px rgba(61, 41, 41, 1);
    transition: box-shadow 0.2s ease, transform 0.2s ease;


}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(61, 41, 41, 1);
    border: 2px solid #FBF9F6;

}

.skill-icon {
    height: 70px;
    width: 70px;
    border: none;
}




/* FOOTER  */

footer {
    display: flex;
    padding: 60px 150px 0 150px;

    justify-content: space-between; /* verspreid de elementen */
    /* links naam en klas midden tekst en rechts het knopje */
    align-items: center;
}


.button-img {
    width: 70px;
    height: 70px;
}

.button-img:hover {
    transform: scale(1.10);

}

/* */

/* MEDIA QUERIES */

/* */

/* DESKTOP Media query */
@media (min-width: 992px ) and (max-width: 1280px ) {

    .nav-inner {
        margin: 0 30px;
    }

    .hero {
        margin: 0 30px;
    }

    .experience {
        padding-top: 0;
    }

    .experience-cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 30px;
    }


    .languages-content-mobile {
        display: none;
    }

    .languages-content, .education-content {
        margin: 0 30px;
    }



    /* About me pagina */
    .about-pagina {
        padding:0 30px;
    }

    .sinum-images {
        padding: 10px 0;
    }
    #sinum-logo {
        margin: 0;
        padding: 0;
    }
}



/* TABLET */
@media (min-width: 576px ) and (max-width: 991px) {
    .navbar {
        padding: 0.75rem;
    }

    .hero {
        display: block;

    }

    .hero-image {
        text-align: center;
    }

    .hero-informatie {
        padding: 0 45px;
        margin: 0;
    }

    .hero-titel h1 {
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }

    .experience {
        text-align: left;
    }

    .experience-cards {
        grid-template-columns: 1fr;
        margin: 0 45px;
    }

    .experience-title {
        font-size: 30px;
    }

    .organisatie {
        font-size: 20px;
    }

    .job-beschrijving {
        font-size: 22px;
    }

    .beschrijving-item {
        font-size: 20px;
    }

    .periode {
        font-size: 18px;
    }


    /* EDUCATION */
    .education {
        padding: 100px 0;
    }

    .education-content {
        border: none;
        padding: 0 30px;
    }

    .languages-content {
        padding: 0 30px;
    }

    .timeline-item {
        padding-left: 30px;
        text-align: left;
        width: 100%;
        padding-bottom: 20px;
    }

    .education-timeline {
        flex-direction: column;

    }

    .education-timeline::before {
        display: none;
    }

    .education {
        padding: 120px 0 0 0;
    }

    .languages {
        padding-top: 0;
    }

    .languages-content-mobile {
        display: none;
    }

    /* ABOUT ME pagina */
    .about-pagina {
        padding:0 20px;
    }

    .project-titel, .projects {
        padding-top: 0;
    }

    .sinum-images {
        display: block;

    }
    #sinum-logo {
        padding: 0;
        margin: 0;
    }


    /* Skills pagina */
    .skills-container {
        grid-template-columns: repeat(3, 1fr) ;
        padding: 20px;
    }




    footer {
        padding: 0 15px;
        margin: 0;
    }



}



@media (max-width: 575px) {

    /* ALGEMEEN */

    /* Font-size verhogen waar nodig voor betere mobile experience. */

    p {
        font-size: 20px;
    }

    h4 {
        font-size: 24px;
    }




    /* */

    /* NAV BAR */
    .navbar {
        gap: 0.75rem;
        padding: 0.75rem;
    }

    /* HERO */
    .hero {
        display: block;
        text-align: left;
        align-content: center;
        padding-left: 0;
        margin-left: 0;
    }

    .hero-informatie {
        margin: 30px;
    }

    .hero-image {
        text-align: center;
    }


    .hero-buttons {
        display: block;
        padding-bottom: 20px;
    }

    .hero-button {
        margin-top: 10px;
    }

    /* ERVARING */




    .experience-cards {
        grid-template-columns: 1fr;
        margin: 0 30px;
    }

    .experience-title {
        font-size: 30px;
    }

    .organisatie {
        font-size: 20px;
    }

    .job-beschrijving {
        font-size: 22px;
    }

    .beschrijving-item {
        font-size: 20px;
    }

    .periode {
        font-size: 18px;
    }




    /* EDUCATION */
    .education {
        padding-top: 100px;
    }

    .education-content {
        border: none;


    }

    .timeline-item {
        padding-left: 30px;
        text-align: left;
        width: 100%;
        padding-bottom: 20px;
    }

    .education-timeline {
        flex-direction: column;

    }

    .education-timeline::before {
        display: none;


    }



    /* MOBILE LANGUAGES */

    .languages-content-mobile {
        display: block;
    }

    .languages-content {
        display: none;
    }

    .languages-list {
        list-style: none;
        border: 2px solid #FBF9F6;
        background: #996868;
        margin: 20px 20px;

    }

    .languages-list li {

        font-size: 20px;
        line-height: 3rem;
        color: black;
    }


    /* ABOUT ME PAGINA MOBILE */

    .about-pagina {
        padding: 20px;
    }

    .hobbies-list li {
        font-size: 20px;
    }

    .sinum-images {
        display: block;

    }
    #sinum-logo {
        padding: 0;
        margin: 0;
    }


    /* SKILLS PAGINA MOBILE */



    /* GRIDS 2 * 2          */
    .skills-container {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }





    footer {
        padding: 0 15px;
        margin: 0;
    }

    footer p {
        font-size: 16px;

    }

} /* Einde MOBILE Media query */


























