body {
    font-family: Poppins, sans-serif;
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    color: white;
    max-width: 1000px;
}

.pagina {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20rem;
}

.socials {
    position: relative;
    min-height: 100vh;
}

.verticale-links {
    list-style: none;
    margin: 0;
    padding: 15px 8px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    right: 0;
    position: absolute;
    top: 50%;
    display: flex;
    gap: 0.5rem;
}

.social-link a {
    text-decoration: none;
    color: white;

}

.social-link a:hover {
    text-decoration: none;
    color: #FF4A17;
    transition: 0.5s;
}

.follow-me {
    //color: #6A7282;
    color: gray;
}

.leestekens {
    color: #6A7282;
    font-weight: bold;
}





p {
    color: gray;
}




.hero h1 {
    color: white;
    font-size: 50px;
    margin: 0;
}

.experience h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 1px;
    text-align: left;
}

.experience h3 {
    color: #FF4A17;
}

.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.functie, .periode{
    margin: 0;
}

.periode {
    font-size: 15px;

}

.functie-titel {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.experience-item  {
    //background-color: #2C2C2E;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 2px;

}



