* {
    //font-family: Nunito, sans-serif;
    //font-family: "Yu Gothic UI", sans-serif;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: Poppins, sans-serif;
}

body {
    //font-family: Inter, sans-serif;
    //background-color: white;
    //background-color: #2C2C2E;
    background-color: #222222;
    //background: #0D0D0D;
    //background-color: #EFEFEF;
    //background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.5;
}

.hero-page {
    width: 100%;
    margin: 0;
    padding: 0;
}

.heel-pagina {
    display: flex;
}

.heel-pagina-inner {
    max-width: 1500px;
    margin: 5px auto;
    padding: 0;
    border-radius: 20pt;
    //border: 2px solid black;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}

.home-name {
    margin-right: auto;
}

.navbar {
    font-size: 20px;
    display: none;
    flex-direction: row;
    margin-right: 10px;
    gap: 25px;
}

.navbar.show {
    display: flex;
}

.navbar-item {
    margin: 10px 0;


}

.navbar-item a:hover {
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
    text-decoration: underline;
}


.menu-toggle {
    display: flex;
    top: 10px;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}


.button-image {
    height: 45px;
    width: 45px;
    background: none;
}

.button-image:hover {
    transform: scale(1.05);
}

.hero {
    display: flex;
}



.hero-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 22px solid #2C2C2E;
    margin-left: 120px;
}

.hero-informatie {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 40%;


}

.hero h1 {
    color: #F5F5F5;
    font-size: 50px;
    margin: 10px 0;
    padding: 0;
}

h4 {
    color: #AAAAAA;
    margin: 0;
    padding: 0;
}

.hero-buttons {
    display: flex;
    gap: 10px;

}

.hero-buttons p {
    margin: 10px 10px;
    color: #AAAAAA;
    font-size: 16px;
}

.hero-button {
    background: none;
    border: 2pt solid black;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #FF4A17;
}


.verticale-links {
    list-style: none;
    margin-right: 5px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.social-link a:hover {
    text-decoration: none;
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
}

.follow-me {
    //color: #6A7282;
    color: gray;
}

.leestekens {
    color: #6A7282;
    font-weight: bold;
}


p {
    color: gray;
}

.opleiding {
    margin-top: 90px;
}

.opleiding-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    //gap: 25px;
    justify-content: space-between;
    //background-color: #2C2C2E;
    //border: 1px solid #F5F5F5;
    border-radius: 2px;
}

.onderwijs-item {
    padding: 10px;
    text-align: center;
    border: 1px solid gray;


}
.onderwijs-item:hover {
    transform: scale(1.02);
}

.onderwijs-item:hover {
    background-color: #0D0D0D;
}

.school-img {
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}



.experience {
    margin-top: 100px;
}


.experience ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}

.experience-item {

    background-color: #2C2C2E;
    padding: 20px;
    border-radius: 20pt;
    //border: 1px solid white;
    width: 90%;
}




.experience-item:hover {
    //background-color: #2C2C2E;
    //background-color: #100F0F;
    background-color: #090909;
    transition: 0.4s;
    //transform: scale(1.01);

}

h2 {
    text-align: left;
    color: white;
    font-size: 18px;
    margin-bottom: 1px;

}


h3 {
    color: #FF4A17;
}

.experience h3 {
    color: #FF4A17;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




.functie, .periode{
    margin: 0;
}

.periode {
    font-size: 15px;

}

.functie-titel {
    font-size: 13px;
    font-weight: bold;
    color: white;
}




footer {
    //background-color: #2C2C2E;
    text-align: center;
    color: white;

}

.readme-body {
    background-image: url('assets/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;

}



