html, body {
    font-family: Nunito, sans-serif;
    line-height: 2.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #3d2929;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}

header {
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    background: #000000;

}

#logo {
    height: 90px;
    width: 90px;
}


.nav-inner {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    right: 0;


}

.navbar {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;

}

.navbar-item {
    text-decoration: none;
    list-style: none;
    display: inline-block;


}

.navbar-item a {
    color: #996868;
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    border-radius: 17px;

}

.navbar-item:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}


.navbar-item a.active {
    background-color: #996868;
    color: white;
    font-weight: bold;
}

/* */
/* */
/* BEGIN HERO SECTIE */
/* */
/* */


.hero {
    padding-top: 4rem;
    display: flex;
    align-items: stretch;
}

#hero-image {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 20px solid #3d2929;

}


/* Schaduw bij het hoveren van de hero image */
#hero-image:hover {
    box-shadow: 0 0 20px #996868;
}

.hero-titel h1{
    color: #996868;
    font-size: 4.5rem;
    text-align: left;
}

.hero-text {
    padding-bottom: 40px;
}


.hero-informatie {
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: #FBF9F6;
    margin: 2px 0;
    padding: 0;
}

.hero-buttons {
    display: flex;
    gap: 0.5rem;
}


.hero-buttons p {
    font-family: Nunito, sans-serif;
    margin: 10px 10px;
}

.hero-button {
    background: none;
    border: 1pt solid #996868;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #996868;
}




/* TALENKENNIS BEGINT HIER */
/* TALENKENNIS BEGINT HIER */
/* TALENKENNIS BEGINT HIER */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
}

table, th, td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #AAAAAA;
}

th {
    font-size: 18px;
}

thead {
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
//background-color: #996868;
    color: white;
}

table tbody tr:nth-child(even) {
    background: #996868;
}

table tbody tr:nth-child(odd) {
    background: #F5F5F5;
}


/* Extra hovers voor functionaliteit */
table tbody tr:nth-child(odd):hover {
    background: #D3D3D3;

}

table tbody tr:nth-child(even):hover {
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    color: #FBF9F6;

}

/* EINDE TALENKENNIS */