body {
    font-family: Poppins, sans-serif;
    background-color: #222222;
    //background: #0D0D0D;
    //background-color: #EFEFEF;
    //background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.hero-page {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

.heel-pagina {
    display: flex;
}

.heel-pagina-inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0;
}

.home-name {
    margin-right: auto;
}

.navbar {
    font-size: 20px;
    display: none;
    flex-direction: row;
    margin-right: 10px;
    gap: 25px;
}

.navbar.show {
    display: flex;
}

.navbar-item {
    margin: 10px 0;


}

.navbar-item a:hover {
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
    text-decoration: underline;
}


.menu-toggle {
    display: flex;
    top: 10px;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.button-image {
    height: 45px;
    width: 45px;
    background: none;
}

.button-image:hover {
    transform: scale(1.05);
}


.verticale-links {
    list-style: none;
    margin-right: 5px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.social-link a:hover {
    text-decoration: none;
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
}

.follow-me {
    //color: #6A7282;
    color: gray;
}

.leestekens {
    color: #6A7282;
    font-weight: bold;
}


p {
    color: gray;
}




.hero {
    display: flex;
}



.hero-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 22px solid #2C2C2E;
    margin-left: 120px;
}

.hero-informatie {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 40%;


}

.hero h1 {
    color: #F5F5F5;
    font-size: 50px;
    margin: 10px 0;
    padding: 0;
}

h4 {
    color: #AAAAAA;
    margin: 0;
    padding: 0;
}

.experience ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.experience-item {

    background-color: #0D0D0D;
    border-radius: 1px;
}

.experience-item:hover {
    //background-color: #100F0F;
    background-color: #090909;
    transition: 0.4s;
    transform: scale(1.01);
}

.experience h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 1px;
    text-align: left;
}

.experience h3 {
    color: #FF4A17;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




.functie, .periode{
    margin: 0;
}

.periode {
    font-size: 15px;

}

.functie-titel {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.experience-item  {
    //background-color: #2C2C2E;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 2px;

}

footer {
    //background-color: #2C2C2E;
    text-align: center;
    color: white;

}

.readme-body {
    background-image: url('assets/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;

}



