body {
    font-family: Poppins, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;


}

.heel-pagina {
    display: flex;
}

.heel-pagina-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 0;
}

.navbar {
    font-size: 20px;
    display: none;
    flex-direction: row;
    margin-right: 10px;
    gap: 15px;
}

.navbar.show {
    display: flex;
}

.navbar-item {
    margin: 10px 0;


}

.navbar-item a:hover {
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
    text-decoration: underline;
}


.menu-toggle {
    display: flex;
    top: 10px;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.button-image {
    height: 45px;
    width: 45px;
    background: none;
}

.button-image:hover {
    transform: scale(1.05);
}


.verticale-links {
    list-style: none;
    right: 10px;
    align-content: flex-start;
    margin: 0;

    writing-mode: vertical-lr;
    transform: rotate(180deg);

    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}

.social-link a:hover {
    text-decoration: none;
    color: #FF4A17;
    transition: 0.5s;
    font-size: 18px;
}

.follow-me {
    //color: #6A7282;
    color: gray;
}

.leestekens {
    color: #6A7282;
    font-weight: bold;
}


p {
    color: gray;
}

.circle-bg {

}

.circle-bg img {
    width: 60px; /* Adjust size of your inner image */
    height: 60px;
    /* If the image isn't square, you might need 'object-fit: cover;' */
}

.hero {

   // justify-content: center;
   // align-items: center;
  //  margin: 0 auto;
    text-align: center;
}

.hero-image {


    width: 250px;
    height: 280px;
    text-align: center;

}


.hero h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 100px;
    text-align: left;

}

.experience h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 1px;
    text-align: left;
}

.experience h3 {
    color: #FF4A17;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}




.functie, .periode{
    margin: 0;
}

.periode {
    font-size: 15px;

}

.functie-titel {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.experience-item  {
    //background-color: #2C2C2E;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 2px;

}

footer {
    //background-color: #2C2C2E;
    text-align: center;
    color: white;

}

.readme-body {
    background-image: url('assets/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;

}



