html, body {
    font-family: Nunito, sans-serif;
    line-height: 2.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* puts it behind content */
    background: #3d2929;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}
main {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}
p {
    color: #AAAAAA;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.default-pagina {
    min-height: 100vh;
}

.education, .experience {
    max-width: 1440px;
    margin: 0 auto;
}



.main-content{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;
}

.sectie-titel {
    font-size: 48px;
    color: #FBF9F6;
    text-align: center;
    padding-bottom: 10px;
}


/* HEADER + NAV BAR */

header {
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    background: #000000;

}

#logo {
    height: 90px;
    width: 90px;
}


.nav-inner {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


}

.navbar {
    font-size: 20px;
    display: flex;
    //gap: 1rem;
    align-items: center;
    gap: 1rem;

}

.navbar-item {
    text-decoration: none;
    list-style: none;
    display: inline-block;


}

.navbar-item a {
    //  color: white;
    color: #996868;
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    border-radius: 17px;

}

.navbar-item:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.navbar-item a:hover {
    //text-decoration: underline;
}

.navbar-item a.active {
    background-color: #996868;
    color: white;
    font-weight: bold;
}

/* HERO SECTIE */
/* HERO SECTIE */
/* HERO SECTIE */

.hero {
    padding-top: 4rem;
    display: flex;
    align-items: stretch;
}

#hero-image {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 20px solid #3d2929;

}

#hero-image:hover {
    box-shadow: 0 0 20px #996868;
}

.hero-titel h1{
    color: #996868;
    font-size: 4.5rem;
    text-align: left;
}

.hero-text {
    padding-bottom: 40px;
}


.hero-informatie {
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: #FBF9F6;
    margin: 2px 0;
    padding: 0;
}

.hero-buttons {
    display: flex;
    gap: 0.5rem;
}


.hero-buttons p {
    font-family: Nunito, sans-serif;
    margin: 10px 10px;
}

.hero-button {
    background: none;
    border: 1pt solid #996868;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #996868;
}

/* EXPERIENCE */
/* EXPERIENCE */
/* EXPERIENCE */


h1 {
    font-size: 48px;
    color: #996868;
    text-align: left;
}

.experience-content {
    padding-top: 140px;
}

.experience-container {
    padding-top: 10px;

}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}


.experience-card {

    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    border: 1px solid #AAAAAA;
    border-radius: 24px;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 420px;
    width: 100%;
    margin: 20px 0 0 0;
}

.experience-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 10px -1px #FBF9F6;
    border-color: #996868;
    //background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}

.experience-card ul {
    list-style: none;
}

.experience-card ul li {
    //color: #F5F5F5;
}


.experience h2, .experience-title {
    font-size: 32px;
    color: #996868;
}

.organisatie {
    color: #996868;
    font-size: 22px;
}

.periode {
    color: #AAAAAA;
    font-size: 16px;
}

.job-beschrijving {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color: #AAAAAA;
    padding-bottom: 20px;
}



.beschrijving-item {
    list-style: circle;
    color: #AAAAAA;
    font-size: 22px;
    text-align: left;
    padding-left: 15px;

}


/* Einde ervaring */

/* OPLEIDING */
/* OPLEIDING */
/* OPLEIDING */

/* OPLEIDING Begint hier */

.education {
    padding-top: 100px;
}

.education-content {
    margin: 0;
    padding: 0;
    //background: #FBF9F6;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);
    border: 1px solid #AAAAAA;
    //background: #2C2C2E;
}

.education-timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 60px 0;
}

.education-timeline::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F5F5F5;
}

.opleiding-titel {
    padding: 0;
    color: #FBF9F6;
}

.opleiding-logo {
    height: 70px;
    width: 70px;
}

.opleiding-logo:hover {
    transform: scale(1.1);
}

.timeline-item {
    position: relative;
    text-align: center;
    width: 33%;
}

.huidig {
    color: #996868;
}



/* Ervaring eindigt hier */


.verticale-links {
    list-style: none;
    margin-right: 5px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

footer {
    padding: 12px 12px 12px 0;
    text-align: right;
}

