html, body {
    font-family: Nunito, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* puts it behind content */
    background: #3d2929;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}

main {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}

.main-content{
    max-width: 1440px;
    margin: 0 auto;
}

header {
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    background: #000000;

}

#logo {
    height: 90px;
    width: 90px;
}


.nav-inner {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


}

.navbar {
    font-size: 20px;
    display: flex;
    gap: 1rem;
}

a {
    color: #FF4A17;
    text-decoration: none;
    //font-family: Poppins, sans-serif;
}

.hero {
    display: flex;
}



.hero-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 22px solid #2C2C2E;
    margin-left: 120px;
}

.hero-informatie {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 40%;
    background-color: #0D0D0D;


}

.hero h1 {
    color: #F5F5F5;
    font-size: 50px;
    margin: 10px 0;
    padding: 0;
}

h4 {
    color: #AAAAAA;
    margin: 0;
    padding: 0;
}

.hero-buttons {
    display: flex;
    gap: 10px;

}

.hero-buttons p {
    margin: 10px 10px;
    color: #AAAAAA;
    font-size: 16px;
}

.hero-button {
    background: none;
    border: 2pt solid black;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #FF4A17;
}


.verticale-links {
    list-style: none;
    margin-right: 5px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

