html, body {
    font-family: Nunito, sans-serif;
    line-height: 2.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* puts it behind content */
    background: #3d2929;
    background: linear-gradient(90deg,rgba(61, 41, 41, 1) 10%, rgba(0, 0, 0, 1) 41%, rgba(61, 41, 41, 1) 96%);

}
main {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}
p {
    color: #AAAAAA;
    font-size: 22px;
    margin: 0;
    padding: 0;
}



.main-content{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;
}

header {
    font-family: "Nunito", sans-serif;
    position: relative;
    width: 100%;
    background: #000000;

}

#logo {
    height: 90px;
    width: 90px;
}


.nav-inner {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;


}

.navbar {
    font-size: 20px;
    display: flex;
    //gap: 1rem;
    align-items: center;
    gap: 1rem;

}

.navbar-item {
    text-decoration: none;
    list-style: none;
    display: inline-block;


}

.navbar-item a {
    //  color: white;
    color: #996868;
    text-decoration: none;
    list-style: none;
    padding: 15px 20px;
    border-radius: 17px;

}

.navbar-item:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.navbar-item a:hover {
    //text-decoration: underline;
}

.navbar-item a.active {
    background-color: #996868;
    color: white;
    font-weight: bold;
}



.hero {
    padding-top: 4rem;
    display: flex;
    align-items: stretch;
}

.hero-image {
    text-align: left;
    margin-right: 20px;
}

#hero-image {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 20px solid #3d2929;

}

.hero-titel {
    color: #996868;
    font-size: 2.5rem;
}

.hero-text {
    padding-bottom: 40px;
}


.hero-informatie {
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h4 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: white;
    margin: 2px 0;
    padding: 0;
}

.hero-buttons {
    gap: 14px;

}

.hero-buttons p {
    font-family: Nunito, sans-serif;
    margin: 10px 10px;
}

.hero-button {
    background: none;
    border: 3pt solid #3d2929;
    border-radius: 20px;
    transition: 0.5s;
}

.hero-button:hover {
    transform: scale(1.01);
    border-color: #996868;
}


.verticale-links {
    list-style: none;
    margin-right: 5px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 55vh;
    display: flex;
    gap: 0.5rem;
}

